* { box-sizing: border-box; }

.ace_gutter {
  display: none !important;
}

.ace-jsoneditor .ace_scroller {
  background-color: transparent !important;
}

.ace-jsoneditor.ace_editor {
  background: transparent !important;
}

.ace-jsoneditor .ace_marker-layer .ace_active-line {
  background: none;
}

.ace_scroller {
  left: 0 !important;
}

.codedemo-code {
  padding: 5px;
}

.header-text {
  color: #292929;
  opacity: 0.6;
  padding: 0 1rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.dark-layer {
  background: linear-gradient(90deg, #e2fcfe 100%, rgba(226, 252, 254, 0) 100%);
  opacity: 0.9;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  clip-path: ellipse(97% 63% at 84% 100%);
}
pre {
  color: lightgray;
}

.ace_text-layer {
  color: white;
}

.ace-jsoneditor .ace_variable {
  color: lightgrey;
}

.ace-jsoneditor .ace_string {
  color: white;
}

.codedemo-code {
  color: white;
}
#form-span {
  margin: 0 1rem;
}

.color-g {
  color: #292929;
  opacity: 0.6;
}

.json-button {
  border: 1px solid #1d4e89;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  padding: 10px;
  background: transparent;
  cursor: pointer;
}

.json-button:hover {
  background: rgba(29, 78, 137, 0.3);
}

.json-button span {
  padding: 0 3px;
  color: #00b2ca;
  font-weight: 600;
}

.start-button {
  border: 1px solid #8b6091;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  background: transparent;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8ch;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: var(--elem-radius);
  background: var(--btn-bg);
  font-weight: 500;
  color: #8b6091;
  font-size: 1rem;
  height: 3rem;
}

.start-button:hover {
  background: rgba(139, 96, 145, 0.1);
}

.divider {
  opacity: 0.5;
  border: 1px solid #ffffff;
  margin: 0;
  background: inherit;
}

.clipboard {
  font-size: 20px;
  margin: -5px auto;
}

#sdl {
  padding: 2px;
}

.ace-jsoneditor .ace_indent-guide {
  background: transparent;
}

.codedemo-form {
  width: 100%;
  display: block;
}

.hero-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-text {
  color: #2163ef;
  font-size: inherit;
  display: inline-block;
  overflow: hidden;
  padding: 0 5px;
}

@media screen and (max-width: 600px) {
  .codedemo-input {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .create-mobile {
    display: none;
  }
}

@media screen and (max-width: 919px) {
  .site-nav {
    justify-content: space-between;
  }
}

@media (min-width: 920px) {
  .create-mobile {
    display: none;
  }
  .header-text {
    display: flex;
  }
  .hero-header h1 {
    font-size: 5rem;
    margin-top: 0;
  }
  .two-text {
    color: #2163ef;
    font-size: 4rem;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    padding: 0 5px;
  }
}

@media (max-width: 920px) {
  .starter-buttons a {
    display: none;
  }
}

.starter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ace-jsoneditor .ace_cursor {
  border-left: 2px solid #FFFFFF;
}

.ace-jsoneditor .ace_marker-layer .ace_selection {
  background: rgba(178,207,249, .3)
}