

.app-header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--spacer-half);
  padding: var(--spacer) 0 var(--spacer);
}

.ace_gutter {
  display: none !important;
}

.ace-jsoneditor .ace_scroller {
  background-color: transparent !important;
}

.ace-jsoneditor.ace_editor {
  background: transparent !important;
}

.ace-jsoneditor .ace_marker-layer .ace_active-line {
  background: none;
}

.ace_scroller {
  left: 0 !important;
}

.codedemo-tab {
  border-bottom: 1px solid #FFFFFF10;
}

pre {
  color: lightgray;
}

.ace_text-layer {
  color: #c7c7c8;
}

.ace-jsoneditor .ace_variable {
  color: #cbcbcc;
}

.ace-jsoneditor .ace_string {
  color: #7ac097;
}
.ace-jsoneditor .ace_value {
  color: #7ac097;
}

.ace-jsoneditor .ace_constant.ace_numeric {
  color: #dd854c;
}

.codedemo-input .codedemo-codeWrap {
  overflow-y: hidden;
}

.codedemo-output .codedemo-codeWrap {
  padding-left: 4px;
}

#form-span {
  margin: 0 1rem;
}

.color-g {
  color: #292929;
  opacity: 0.6;
}

.clipboard {
  font-size: 20px;
  margin: -5px auto;
}

#sdl {
  padding: 2px;
}

.ace-jsoneditor .ace_indent-guide {
  background: transparent;
}

.codedemo-form {
  width: 100%;
  display: block;
}

.ace-jsoneditor .ace_cursor {
  border-left: 2px solid #FFFFFF;
}

.ace-jsoneditor .ace_marker-layer .ace_selection {
  background: rgba(178,207,249, .3)
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 599px) {
  .no-scroll {
    height: calc(100vh + 50px);
  }
  .code {
    max-width: 350px
  }
  .no-scroll {
    height: calc(100vh + 100px);
    overflow: visible;
    overflow-y: visible;
  }
}

.codedemo {
  flex: 1;
  gap: var(--spacer-half);
}

.app-footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.app-footer-nav h2 {
  margin: 0;
  font-size: .9rem;
  font-weight: bold;
}

.app-footer {
  padding: var(--spacer-half) 0 var(--spacer);
}

.app-footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.app-footer-nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--spacer-half);
}

@media (min-width: 720px) {
  .app-footer-nav {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 560px) {
  .app-header {
    justify-content: space-between;
    padding-bottom: var(--spacer-half);
  }
}