.social-nav {
  --gap: var(--spacer-half);

  display: flex;
  flex-flow: row wrap;
  gap: var(--spacer-half);

  margin: 0;
  padding: 0;
}

.social-nav li {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-nav a {
  display: flex;
  align-items: center;
  color: var(--color8);
  transition: var(--anim);
}

.social-nav a:hover {
  color: var(--color2);
}

.social-nav .discord {
  transform: translateY(2px); /* Discord logo is not visually centered */
}
